.arrow {
    position: absolute;
    clip-path: polygon(63% 20%, 54% 20%, 54% 52.5%, 46% 52.5%, 46% 20%, 37% 20%, 50% 5%);
    width: 100%;
    height: 100%;
    background-color: #9d9d9d;
    transition: background-color 0.25s;
    pointer-events: none
}

.arrow:only-child {
    clip-path: polygon(
            63% 40%,
            54% 40%,
            54% 72.5%,
            46% 72.5%,
            46% 40%,
            37% 40%,
            50% 25%
    );
}

.goal .arrow {
    /*display: none;*/
}

.stepRem .arrow {
    background-color: #ffdb00;
}

.stepAdd .arrow {
    background-color: #ff0000;
}

.arrow0_1 {
    transform: rotate(0deg);
}

.arrow1_1 {
    transform: rotate(45deg);
}

.arrow1_0 {
    transform: rotate(90deg);
}

.arrow1_-1 {
    transform: rotate(135deg);
}

.arrow0_-1 {
    transform: rotate(180deg);
}

.arrow-1_-1 {
    transform: rotate(225deg);
}

.arrow-1_0 {
    transform: rotate(270deg);
}

.arrow-1_1 {
    transform: rotate(315deg);
}